services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.max-block-duration=2h"
      - "--storage.tsdb.min-block-duration=2h"
      - "--web.enable-lifecycle"
      - "--web.enable-admin-api"
      - "--web.enable-remote-write-receiver"
    ports:
      - 9090:9090
    restart: unless-stopped
    networks:
      - monitoring

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo/tempo-config.yml" ]
    volumes:
      - ./tempo:/etc/tempo
      - tempo-data:/var/tempo
    restart: unless-stopped
    networks:
      - monitoring

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: [ "--config=/etc/otelcol/otel-collector-config.yml" ]
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
    volumes:
      - ./otel-collector:/etc/otelcol
    restart: unless-stopped
    networks:
      - monitoring
    depends_on:
      - tempo
      - loki

  loki:
    image: grafana/loki:latest
    container_name: loki
    volumes:
      - ./loki:/etc/loki
      - loki-data:/loki
    command: -config.file=/etc/loki/loki-config.yml
    ports:
      - "3100:3100"
    restart: unless-stopped
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    user: root
    volumes:
      - ./promtail:/etc/promtail
      - /var/log:/var/log
      - /var/lib/docker:/var/lib/docker
      - /var/run/docker.sock:/var/run/docker.sock
      - promtail-data:/tmp
    command: -config.file=/etc/promtail/promtail-config.yml
    restart: unless-stopped
    networks:
      - monitoring
    depends_on:
      - loki

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - ./alertmanager:/etc/alertmanager
      - alertmanager-data:/alertmanager
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        sed "s|\$${TELEGRAM_BOT_TOKEN}|${TELEGRAM_BOT_TOKEN}|g; s|\$${TELEGRAM_CHAT_ID}|${TELEGRAM_CHAT_ID}|g" /etc/alertmanager/alertmanager.yml.template > /tmp/alertmanager.yml && \
        /bin/alertmanager \
        --config.file=/tmp/alertmanager.yml \
        --storage.path=/alertmanager \
        --web.external-url=${ALERTMANAGER_URL}
    restart: unless-stopped
    networks:
      - monitoring

  mongodb-exporter-ptit:
    image: percona/mongodb_exporter:0.40
    container_name: mongodb-exporter-ptit
    command:
      - "--mongodb.uri=${MONGODB_URI_PTIT}"
      - "--collect-all"
      - "--compatible-mode"
      - "--collector.replicasetstatus"
    networks:
      - monitoring
    restart: unless-stopped

  postgres-ptit:
    image: bitnami/postgres-exporter
    container_name: postgres-exporter-ptit
    environment:
      - DATA_SOURCE_NAME=${POSTGRES_DSN_PTIT}
      - PG_EXPORTER_AUTO_DISCOVER_DATABASES=true
      - PG_EXPORTER_EXCLUDE_DATABASES=template0,template1
    networks:
      - monitoring
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-mimir}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-mimir123}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    restart: unless-stopped
    networks:
      - monitoring
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 10s
      retries: 3

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c " /usr/bin/mc alias set myminio http://minio:9000 ${MINIO_ROOT_USER:-mimir} ${MINIO_ROOT_PASSWORD:-mimir123}; /usr/bin/mc mb myminio/mimir-blocks --ignore-existing; /usr/bin/mc mb myminio/mimir-ruler --ignore-existing; /usr/bin/mc mb myminio/mimir-alertmanager --ignore-existing; exit 0; "
    networks:
      - monitoring

  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    command:
      - -config.file=/etc/mimir/mimir-config.yml
      - -target=all
    volumes:
      - ./mimir:/etc/mimir
      - mimir-data:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-mimir}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-mimir123}
    ports:
      - "9009:9009"
    restart: unless-stopped
    networks:
      - monitoring
    depends_on:
      - minio-init

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
    networks:
      - monitoring
    depends_on:
      - prometheus
      - loki
      - tempo
      - alertmanager
      - mimir
volumes:
  prometheus-data:
  grafana-data:
  loki-data:
  tempo-data:
  minio-data:
  mimir-data:
  alertmanager-data:
  promtail-data:


networks:
  monitoring:
    driver: bridge
