server:
  http_listen_port: 3200
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    jaeger:
      protocols:
        grpc:
          endpoint: 0.0.0.0:14250
        thrift_http:
          endpoint: 0.0.0.0:14268
    zipkin:
      endpoint: 0.0.0.0:9411

ingester:
  max_block_duration: 30s
  complete_block_timeout: 1m

storage:
  trace:
    backend: s3
    s3:
      bucket: tempo
      endpoint: minio:9000
      access_key: mimir
      secret_key: mimir123
      insecure: true
    wal:
      path: /var/tempo/wal
    cache: none
    pool:
      max_workers: 50
      queue_depth: 2000

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: docker-compose
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://mimir:9009/api/v1/push
        headers:
          X-Scope-OrgID: demo
        send_exemplars: true
  processor:
    service_graphs:
      max_items: 5000
      wait: 15s
    span_metrics:
      dimensions:
        - http.method
        - http.status_code
        - service.name
        - http.route
        - span.kind
    local_blocks: {}

overrides:
  max_bytes_per_trace: 30000000
  metrics_generator_processors: [service-graphs, span-metrics, local-blocks]
  block_retention: 168h
