services:
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.18.0
    container_name: postgres-exporter
    environment:
      - DATA_SOURCE_NAME=postgresql://${SQL_USER}:${SQL_PASSWORD}@172.17.0.1:${SQL_PORT}/postgres?sslmode=disable
      - PG_EXPORTER_AUTO_DISCOVER_DATABASES=true
      - PG_EXPORTER_EXCLUDE_DATABASES=template0,template1
    ports:
      - "9187:9187"
    restart: always
    networks:
      - db-monitor

  mongodb-exporter:
    image: percona/mongodb_exporter:0.47
    container_name: mongodb-exporter
    command:
      - "--mongodb.uri=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@172.17.0.1:${MONGODB_PORT}"
      - "--collect-all"
      - "--compatible-mode"
      - "--collector.replicasetstatus"
    ports:
      - "9216:9216"
    restart: always
    networks:
      - db-monitor

  alloy:
    image: grafana/alloy:latest
    container_name: alloy-db
    user: root
    command:
      - run
      - /etc/alloy/config.alloy
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
    environment:
      - LOKI_URL=${LOKI_URL}
      - DB_HOST=${DB_HOST}
      - ENVIRONMENT=${ENVIRONMENT}
      - POSTGRES_SERVICE_NAME=${POSTGRES_SERVICE_NAME}
      - MONGODB_SERVICE_NAME=${MONGODB_SERVICE_NAME}
    volumes:
      - ./alloy:/etc/alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - alloy-data:/var/lib/alloy
    ports:
      - "12345:12345"
    restart: always
    networks:
      - db-monitor
    depends_on:
      - postgres-exporter
      - mongodb-exporter

volumes:
  alloy-data:


networks:
  db-monitor:
    external: true
    name: dhs-ptit-data_default
