volumes:
  postgres-datastore:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./postgres/data

  postgres-init:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./postgres/init

  mongodb-datastore:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./mongodb/data

services:
  postgres:
    image: mirror.gcr.io/postgres:15-alpine
    environment:
      POSTGRES_MULTIPLE_DATABASES: keycloak,tcns,qldt,core,"tai-chinh","co-so-vat-chat","ph-tc"
      POSTGRES_USER: ${SQL_USER}
      POSTGRES_PASSWORD: ${SQL_PASSWORD}
    volumes:
      - postgres-datastore:/var/lib/postgresql/data
      - postgres-init:/docker-entrypoint-initdb.d
    command:
      - "postgres"
      - "-c"
      - "log_destination=stderr"
      - "-c"
      - "logging_collector=off"
      - "-c"
      - "log_min_duration_statement=100"
      - "-c"
      - "log_statement=ddl"
      - "-c"
      - "log_connections=on"
      - "-c"
      - "log_disconnections=on"
      - "-c"
      - "log_duration=on"
      - "-c"
      - "log_line_prefix=%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h "
    ports:
      - ${SQL_PORT}:5432
    restart: always
    networks:
      - db-monitor
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"

  mongodb:
    image: mirror.gcr.io/bitnamilegacy/mongodb:7.0.6
    environment:
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_REPLICA_SET_NAME: rs0
      MONGODB_ADVERTISED_HOSTNAME: mongodb
      MONGODB_REPLICA_SET_KEY: SM5vZj0xyE
      MONGODB_ROOT_USER: ${MONGODB_USER}
      MONGODB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
      MONGODB_EXTRA_FLAGS: "--profile=1 --slowms=100 --logLevel=1"
    volumes:
      - mongodb-datastore:/bitnami
    ports:
      - ${MONGODB_PORT}:27017
    restart: always
    networks:
      - db-monitor
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"

networks:
  db-monitor:
    driver: bridge
