groups:
  - name: example
    rules:
      - alert: HighCPUUsage
        expr: (1 - avg(rate(node_cpu_seconds_total{mode="idle"}[5m]))) * 100 > 90
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "CPU sử dụng trên 90%"
          value: "{{ $value }}"

      - alert: HighDiskUsage
        expr: 100 - ((node_filesystem_avail_bytes{job="node_exporter",mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{job="node_exporter",mountpoint="/",fstype!="rootfs"}) > 90
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "Dung lượng ổ cứng đang trên 90%"
          value: "{{ $value }}"

      - alert: HighRAMUsage
        expr: (1 - (node_memory_MemAvailable_bytes{job="node_exporter"} / node_memory_MemTotal_bytes{job="node_exporter"})) * 100 > 80
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "Dung lượng bộ nhớ trong sử dụng trên 80%"
          value: "{{ $value }}"

      - alert: HighNetworkTraffic
        expr: irate(node_network_receive_bytes_total{job="node_exporter"}[2m15s])*8 > 500000000
        for: 5m
        labels:
          severity: warning
        annotations:
          description: "Lưu lượng mạng trên 50MB"
          value: "{{ $value }}"

      - alert: TargetDown
        expr: up{job="node_exporter"} == 0
        for: 5m
        labels:
          severity: critical
        annotations:
          description: "Server đang ở trạng thái downtime"
          value: "{{ $value }}"
