version: '3.7'

services:
  mongodb-exporter:
    image: percona/mongodb_exporter:0.47
    container_name: mongodb-exporter
    command:
      - "--mongodb.uri=mongodb://${MONGO_USERNAME_DEV}:${MONGO_PASSWORD_DEV}@172.17.0.1:${MONGO_PORT_DEV}"
      - "--collect-all"
      - "--compatible-mode"
      - "--collector.replicasetstatus"
    ports:
      - "9216:9216"
    restart: always

  node-exporter:
    image: prom/node-exporter:v1.7.0
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points'
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - "9100:9100"
    restart: always

  alloy:
    image: grafana/alloy:latest
    container_name: alloy-db
    user: root
    privileged: true
    pid: "host"
    command:
      - run
      - /etc/alloy/config.alloy
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
    environment:
      - LOKI_URL=${LOKI_URL}
      - DB_HOST=${DB_HOST}
      - ENVIRONMENT=${ENVIRONMENT}
      - MONGODB_SERVICE_NAME=${MONGODB_SERVICE_NAME}
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    volumes:
      - ./alloy:/etc/alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - alloy-data:/var/lib/alloy
    ports:
      - "12345:12345"
    restart: always
    depends_on:
      - mongodb-exporter
      - node-exporter

volumes:
  alloy-data:
